<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phwiki" %></h1>
  <p>A LiveView Wiki</p>
</section>

<section class="row">
  <article class="column">
    <h2>Articles</h2>
  </article>
  <article class="column">
    <h2>Help</h2>
  </article>
</section>
